<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<ul>
    <li><a th:href="@{/}">danh sach thanh pho</a></li>
</ul>
<h6 >danh sach thanh pho</h6>
<div th:object="${city}">
    <p>ten: <span th:text="*{name}"></span></p>
    <p>quoc gia: <span th:text="*{nation.name}"></span></p>
    <p>dien tich: <span th:text="*{area}"></span></p>
    <p>dan so: <span th:text="*{popu}"></span></p>
    <p>gdp: <span th:text="*{gdp}"></span></p>
    <p>gioi thieu: <span th:text="*{des}"></span></p>
    <div><a class="btn btn-primary" th:href="@{/edit/city/__${city.id}__ }">chinh sua</a><a class="btn btn-primary" th:href="@{/delete/city/__${city.id}__ }"  th:onclick="return confirm('ban co chac muon xoa')">xoa</a></div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>